@model List<ThietBiBosch.Database.ThietBi>

@if (!Model.Any())
{
    <div class="col-12 text-center pt-3">
        Chưa có sản phẩm
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 special-grid best-seller">
            <div class="products-single fix">
                <div class="box-img-hover">
                    <div class="type-lb">
                        @if (item.GiaKhuyenMai > 0)
                        {
                            <p class="sale">
                                @*<del>@item.GiaThanh.ToString("##,###") đ</del>*@
                            </p>
                        }

                    </div>
                    <div class="image-box">
                        <img src="@item.AnhSanPham" class="img-fluid img-responsive img-thumbnail" alt="Image">
                    </div>
                    
                    <div class="mask-icon">
                        <ul>
                            <li>
                                @*<a href="@Url.Action("Detail", new {ItemId = item., Title = item.TenHang.Replace(" ", "-")})" data-toggle="tooltip" data-placement="right" title="View">
                                    <i class="fas fa-eye"></i>
                                </a>*@
                            </li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Lưu lại"><i class="far fa-heart"></i></a></li>
                        </ul>

                        @*<a class="cart add-card" href="#" data-itemid="@item.MaThietBi">Thêm vào giỏ</a>*@
                    </div>
                </div>
                <div class="why-text">
                    <h4><a href="@Url.Action("Detail","SanPham", new {ItemId = item.MaThietBi, Title = item.TenThietBi.ToLower().Replace(" ", "-")})" title="View">@item.TenThietBi</a></h4>

                    <h5 class="price">
                        @Html.Raw((item.GiaThanh - (item.GiaKhuyenMai ?? 0))) đ
                    </h5>
                </div>
            </div>
        </div>
    }

}
