@model FoodCleanB.Models.ResetPassModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/LayoutProfile.cshtml";
}

<h2>Đổi mật khẩu</h2>

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false)
        <div class="form-group">
            @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 col-sm-12">
                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatKhauMoi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 col-sm-12">
                @Html.EditorFor(model => model.MatKhauMoi, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                @Html.ValidationMessageFor(model => model.MatKhauMoi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.XacNhanMatKhau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 col-sm-12">
                @Html.EditorFor(model => model.XacNhanMatKhau, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                @Html.ValidationMessageFor(model => model.XacNhanMatKhau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6 col-sm-12">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
